@model Product

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p><b>Product Name</b></p> @Model.Name
        </div>
        <div class="col-12">
            <p><b>Category</b></p> @Model.Category.Name
        </div>
        <div class="col-12">
            <p><b>Color</b></p> @Model.Color
        </div>
        <div class="col-12">
            <p><b>Stock</b></p> @Model.Stock
        </div>
        <div class="col-12">
            <p><b>Price</b></p> @Model.Price
        </div>
        <div class="col-12">
            <p><b>UpdateDate</b></p> @Model.UpdateDate
        </div>
    </div>
</div>

<div style="padding-top:10px;" class="row">
    <div class="col-12">
        <form method="post">
            <div class="alert alert-danger">
                <p style="padding-top:0;"><b>Are you sure to delete this Product</b></p>
            </div>
            <input type="submit" value="Delete" class="btn btn-block btn-lg btn-danger" />
        </form>
        <a asp-action="Index" class="btn btn-primary btn-block btn-lg" style="margin: 30px 0">
            <i class="fas fa-long arrow-alt-left"></i> Back to Index
        </a>
    </div>
</div>